.Partner {
    margin-left: 20%; /* Einrückung des gesamten Partner-Teils */
    margin-bottom: 20px; /* Abstand zwischen den Partnern */
}

.Partner h2 {
    display: inline-block; /* Stellt sicher, dass die Nummer und der Name nebeneinander stehen */
    margin-right: 10px; /* Abstand zwischen Nummer und Namen */
}

.partner-info {
    display: flex;
    align-items: center;
}

.Partner h3 {
    display: inline-block; /* Stellt sicher, dass die Nummer und der Name nebeneinander stehen */
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
}

.Partner a {
    text-decoration: none;
    color: inherit;
}

.link-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-left: 10px;
}

.link-icon {
    width: 20px;
    height: 20px;
}

.Partner .Tags {
    font-weight: bold;
    color: #FF5733; /* Anpassung der Farbe nach Belieben */
}

.Partner .Sales {
    margin-top: 5px;
}

.Partner .Code {
    border: none;
    background-color: transparent;
    color: #FF5733; /* Anpassung der Farbe nach Belieben */
    font-weight: bold;
    cursor: pointer;
}

.Partner .Code:focus {
    outline: none;
}

/* Popup-Styles */
#copyPopup {
    display: none; /* Popup standardmäßig ausblenden */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 30px;
    background-color: #333;
    color: white;
    font-size: 1.2em;
    border-radius: 10px;
    z-index: 1000;
    font-family: Arial, sans-serif;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    text-align: center;
}
/* Popup für kopierte Codes */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #333;
    color: white;
    padding: 20px;
    border-radius: 5px;
    z-index: 1000;
    text-align: center;
    font-size: 16px;
}
